* {
	box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
#Menu {
	padding: 15px;
	background-color: gray;
	width: 100%;
	height: 10vh;
}
button {
	height: 5vh;
}
#Stage {
	float: left;
	height: 360px;
	width: 480px;
	background-color: white;
}
ul {
	list-style-type: none;
}
#Sprites {
	float: left;
	width: 480px;
	height: 30vh;
	overflow: auto;
}
body {
	background-color: darkgray;
	overflow: hidden;
}
#startStageScript {
	display: none;
}
#mainStageScript {
	width: 49vw;
	height: 89vh;
	resize: none;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
.sprite-label {
	color: blue;
	text-decoration: underline;
}